<div class="header-content">
  <img src="/my-website/images/logo.png" alt="ロゴ" class="logo" />
  <nav class="navigation">
    <ul>
      <li><a href="/my-website/index.html">Home</a></li>
      <li><a href="/my-website/pages/about.html">About Us</a></li>
      <li><a href="/my-website/pages/service1.html">SNS</a></li>
      <li><a href="/my-website/pages/service2.html">Last Career</a></li>
      <li><a href="/my-website/pages/service3.html">LINE Bot</a></li>
    </ul>
  </nav>
  <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
</div>
<div class="menu-content" id="menu-content">
  <ul>
    <li><a href="/my-website/index.html">Home</a></li>
    <li><a href="/my-website/pages/about.html">About Us</a></li>
    <li><a href="/my-website/pages/service1.html">SNS</a></li>
    <li><a href="/my-website/pages/service2.html">Last Career</a></li>
    <li><a href="/my-website/pages/service3.html">LINE Bot</a></li>
  </ul>
</div>
