<div class="header-content">
  <img src="/images/logo.png" alt="ロゴ" class="logo" />
  <nav class="navigation">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/about.html">About Us</a></li>
      <li><a href="/pages/service1.html">Service 1</a></li>
      <li><a href="/pages/service2.html">Last Career</a></li>
      <li><a href="/pages/service3.html">Service 3</a></li>
    </ul>
  </nav>
  <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
</div>
<div class="menu-content" id="menu-content">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/about.html">About Us</a></li>
    <li><a href="/pages/service1.html">Service 1</a></li>
    <li><a href="/pages/service2.html">Last Career</a></li>
    <li><a href="/pages/service3.html">Service 3</a></li>
  </ul>
</div>
